.mainContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

body {
  background-color: black;
  color: red;
}

h1 {
  display: flex;
  justify-content: center;
}

img {
  height: 550px;
  width: 150px;
}
